---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---


<article class="px-8">
    {% set maxPosts = collections.posts.length | min(5) %}
    <h1 class="text-5xl py-8">Latest posts</h1>

    {% set postslist = collections.posts | head(-5) %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postslist.njk" %}

    <p class="my-8 p-3 bg-gray-200 text-right shadow-md hover:bg-gray-100">
      More posts can be found in <a class="underline font-bold" href="{{ '/posts/' | url }}">the archive</a>.</p>

</article>
