<div class="container mx-auto bg-works-hero max-w-7xl">
  <div class="p-16 align-top">
    <div class="p-8 bg-black align-middle m-auto">
      <h1 class="text-7xl text-white">works of beep boop</h1>
    </div>
  </div>
</div>
