<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}">
        <link href="/css/styles.min.css" rel="stylesheet">

        {% if highlight %}
          <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-twilight.css" rel="stylesheet">

        {% endif %}
        {% if sketch|length %}
            <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>
            {% set js %}
            {% include sketch %}
            {% endset %}
            <script>
               {{js | safe}}
            </script>
        {% endif %}
        <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
        <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    </head>
    <body class="container mx-auto">
      {% include 'partials/header.njk' %}
      {% if page.url === '/' %}
        {% include 'partials/home-hero.njk' %}
      {% endif %}
      <main class="container p-4">
        {{ content | safe }}
      </main>
      <footer class="container py-10">
        <hr>
        <small>Put details here</small>
      </footer>
      <!-- Current page: {{ page.url | url }} -->
      <script>
        var signs = [9728, 9729, 9730, 9731, 9732, 9733, 9734, 9735, 9736, 9737, 9738, 9739, 9740, 9741, 9742, 9748, 9749, 9753, 9754, 9755, 9756, 9757, 9758, 9759, 9773, 9788, 9789, 9790, 9812, 9813, 9814, 9815, 9816, 9817, 9818, 9819, 9820, 9821, 9822, 9823, 9824, 9825, 9826, 9827, 9828, 9829, 9830, 9831, 9832, 9833, 9834, 9835, 9836, 9837, 9838, 9839, 9856, 9857, 9858, 9859, 9860, 9861, 9862, 9863, 9864, 9865, 9884, 9885, 9886, 9887, 9924, 9925, 9926, 9927, 9928, 9929, 9930, 9931, 9932, 9933, 9934, 9935, 9936, 9937, 9938, 9939, 9940, 9941, 9942, 9943, 9944, 9945, 9946, 9947, 9948, 9949, 9950, 9951, 9952, 9953, 9954, 9955, 9962, 9963, 9964, 9965, 9966, 9967, 9968, 9969, 9970, 9971, 9972, 9973, 9974, 9975, 9976, 9977, 9978, 9980, 9981, 9982];
        var l = document.getElementsByClassName("head-sep")
        for(let i = 0; i<l.length; i++){
          l[i].innerHTML = "&#" + signs[Math.floor(Math.random()*signs.length)]
        }
      </script>
    </body>
</html>
