---
layout: layouts/base.njk
---
<h1 class="text-4xl">{{ title }}</h1>
<p class="text-right"> Last Updated: {{ page.date | readableDate }}</p>
<div class="prose lg:prose-lg ">
{{ content | safe }}
</div>
<hr>
<div class="pt-8 grid grid-cols-1 md:grid-cols-3 ">
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}
    <div class="text-gray-500 hover:text-gray-600 pt-2">
       <a href="{{ previousPost.url | url }}">
         Previous: {{ previousPost.data.title }}
      </a>
    </div>
  {% endif %}
  <div></div>
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}
    <div class="text-gray-500 hover:text-gray-600 pt-2">
      <a href="{{ nextPost.url | url }}">
        Next: {{ nextPost.data.title }}
      </a>
    </div>
  {% endif %}
</div>
